<% title "Subcategoria #{@subcategory.name} "%>
<script>
  $(function(){
    $('.remote_link').click(function(){
      var id = $(this).attr('id');
      $('#loading').show();
    })
  })
</script>
<div id="new_fields">
  <div class="right" style="margin-right:20px">
    <div class="button"> <%= link_to 'Volver', admin_configuration_path  %></div>
  </div>
  <div class="clear"></div>
  <div id="new_fields_table">
    <h2> Campos adicionales </h2>
    <table>
      <tr>
        <th class="field_name"> Nombre </th>
        <th class="field_type"> Tipo </th>
        <th class="link_delete" title="Se eliminara este campo para los futuros objetos"> Eliminar I </th>
        <th class="link_delete" title="Se eliminara de todos los objetos que posean este campo"> Eliminar II</th>
      </tr>
      <% @subcategory.generic_fields.each do |generic_field| %>
        <tr id="generic_<%= generic_field.id%>">
          <%= render :partial => "field", :locals => {:generic_field => generic_field}  %>
        </tr>
      <% end %>
    </table>
  </div>
  <div id="new_fields_form">
    <%= render :partial => 'admin/generic_fields/form', :locals => {:subcategory => @subcategory } %>
  </div>
  <div class="clear"></div>
</div>

