<div>
  Esta pagina esta dividida en tres secciones:
  <br>
  <strong><em>Reporte</em>, <em>Imagenes</em> e <em>Informacion Adicional</em>.</strong>
  <p>
  En el panel de la izquierda encontraras informacion del estado del reporte:
    <ul>
      <li>Estado (abierto, cerrado, reabierto).</li>
      <li>
        Si tiene fechas limite, las mismas y el tiempo restante para que se cumpla el plazo.
        <br>
        Tambien, tendra un color de fondo la seccion del estado
        <ol>
          <li>Verde si quedan mas de un dia para la finalizacion.</li>
          <li>Amarillo si queda un dia.</li>
          <li>Rojo si se paso el limite.</li>
        </ol>
      </li>
      <li>El progreso del trabajo (cantidad de problemas resueltos y cantidad de horas cargadas en el reporte)</li>
      <li>Tambien la fecha de creacion y ultima actualizacion.</li>
    </ul>
  </p>
  <p>
    Creacion del reporte:
  </p>
  <p>
    Asignacion de tareas
  </p>
  <p>
    Cierre del reporte
  </p>
  <p>
    Impresion del reporte
  </p>
</div>
<hr>
<div style="font-size:11px;float:left">
  Presiona <strong>ESC</strong> para salir
</div>
<div style="font-size:11px;float:right">
  <%= link_to 'Ver mas' %>
</div>

