<div class="fields">
  <p>
    <span>
      <%= f.text_field :category %>
      <%= f.text_field :description %>
    <span class="remove_tool">
      <%= remove_child_link "remove", f %>
    </span>
   </p>
</div>
