<div class="fields">
  <%= f.text_field :category,:size => 10 %>
  <%= f.text_field :description,:size => 100, :class => "last" %>
  <span class="button without_text delete">
    <%= remove_child_link "remove", f %>
  </span>
</div>

