<div class="fields">
  <%= f.text_field :category,:size => 17 %>
  <%= f.text_field :description,:size => 88, :class => "last" %>
  <span class="button link_delete" style="float:right">
    <%= remove_child_link "eliminar", f %>
  </span>
</div>

