<% title "Admin" %>
<div id="admin_index" style="min-height: 200px;">
  <ul class="conf_list">
    <li>
      <%= link_to 'Usuarios', admin_users_path, :class => "conf_option" %>
      <div class="conf_explanation"><p>En esta seccion podras crear usuarios, habilitar, deshabilitar, etc.</p></div>
    </li>
    <li>
      <%= link_to 'Estadisticas',admin_statistics_path, :class => "conf_option"  %>
      <div class="conf_explanation"><p>Aca podra ver estadisticas de objetos, colecciones y problemas encontrados.</p></div>
    </li>
    <li>
      <%= link_to 'Configuracion',admin_configuration_path, :class => "conf_option"  %>
      <div class="conf_explanation"><p>Aca podra configurar la aplicacion, categorias disponibles, campos nuevos, datos de la institucion.</p></div>
    </li>
  </ul>
</div>

