<div id="admin_index">
  <ul class="conf_list">
    <li>
      <%= link_to 'Usuarios', admin_users_path, :class => "conf_option" %>
      <div class="conf_explanation"><p>En esta seccion podras crear usuarios, habilitar, deshabilitar, etc.</p></div>
    </li>
    <li>
      <%= link_to 'Estadisticas',admin_statistics_path, :class => "conf_option"  %>
      <div class="conf_explanation"><p>de nuevoooo</p></div>
    </li>
    <li>
      <%= link_to 'Configuracion',admin_configuration_path, :class => "conf_option"  %>
      <div class="conf_explanation"><p>chauuuu</p></div>
    </li>
  </ul>
</div>

