@media print {
  #header{
    display: none;
  }

  #header_pdf {
    text-align: center;
    border-bottom: solid 1px #cccccc;
    padding-bottom: 10px;
  }
  div.category{
    width: 40%;
    float: left;
  }
  div.deterioration_header{
    font-size: 15px;
    margin: 5px
  }
  div.description{
      width: 97%;
      margin: 5px;
      background: #f1f1f1;
      padding: 5px;
      border: solid #ccc 1px;
      border-radius: 5px
  }
  div.place{
    width: 40%;
    float: left;
  }
  div.status{
    width: 10%;
    float: right;
  }


}
body {
  /*background-color: #4B7399;*/
  font-family: Ubuntu;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #666;
  font-weight:bold;
  text-decoration:none;
  padding: 2px 4px
}

/* Reporte */
/* fin reporte */

/* items */
/* fin items */

/* galeria y fotos */

#table_photos{
  border-collapse: collapse;
  width: 100%;
  border: solid #ccc 1px;
}
#table_edit_photos{
  margin: auto;
  width: 100%;
  }
#table_photos tr th{
  color: #000;
  line-height: 1.7em;
  padding: 0 10px;
  background: #26456D;
  border: solid 1px #26456D;
  color: #fff;
  text-align:left;
}
#table_photos tr{
  line-height: .7em;
}
#table_photos td{
  padding: 10px;
}
#table_photos td.image{
  width: 80px;
  text-align:center;
}
#table_photos td.description{
  width: 250px;

}

#table_photos td.size{
  width: 40px;
}
#table_photos td.date{
  width: 120px;
}
#table_photos td.delete{
  width: 50px;
}
#table_photos td.delete{
  width: 50px;
  text-align:center;
}


/* fin galeria y fotos */

/* deteriorations */

#report #table_deterioration{
  border-collapse: collapse;
  width: 100%;
  border: solid #ccc 1px;
}
#report #table_deterioration tr th{
  color: #000;
  line-height: 2em;
  padding-left: 5px;
  background: #26456D;
  border: solid 1px #26456D;
  color: #fff;
  text-align:left;
}
#report #table_deterioration tr{
  line-height: 0em;
}
#report #table_deterioration td{
  border-left: solid 1px #ccc;
  padding: 10px 5px;
}

#report #table_deterioration td.tasks,#report #table_deterioration td.status{
    width: 5%;
    text-align:center;
}
#report #table_deterioration td.det_category_id {
    width: 10%;

}
#report #table_deterioration td.description{
    width: 50%;
}
#report #table_deterioration td.place{
  width: 20%;
}

#report #table_deterioration td.actions{
  width: 7%;
}

/* fin deteriorations */

/* tasks */
/* fin tasks */

/* users */
/* fin users */

/* det_categories */
/* fin det_categories */

/* item_categories */
/* fin item_categories */

/* institution */
/* fin institution */

/* layout */

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 90%;
 margin: 30px auto;
 /*  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;*/
}
#messages {
  width: 95%;
	margin: 20px auto;
	padding: 5px 10px;
	border-bottom: solid 1px #ccc;
}

section#content{
  width: 95%;
  margin: 0 auto;
}
#mainContent {
	width: 85%;
	float:left;
	padding-right: 22px;
}
.flash{
  width: 20%;
  padding: 5px 0;
  margin: auto;
  font-size: 12px;
  text-align: center;
  }

#flash_notice {
  background-color: #FAF8A0;
  border: solid 1px #F7F55C;
}
.circle-check {
  background-color: #CFC;
  border: solid 1px #6C6;
  padding: 5px 8px;
}
.alert{
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px 8px;
}
.info {
  background-color: #F7F37C;
  border: solid 1px #FAF452;
  padding: 5px 8px;
}
#main_menu{
	text-align:center;
	margin:auto;
	}
#main_menu ul{
	list-style: none;
}
#main_menu ul li {
	float: left;
}

#main_menu ul li a {
	display: inline;
	margin: 20px 0 0 20px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #777;
}

#main_menu ul li a:hover {
  border-top: 3px solid #777;
  padding-bottom: 2px;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* fin layout */

/* forms */
/* fin forms */
/* admin */
/* fin admin */



.cerrado {
  padding: 5px;
}

.deterioration_message{
  background-color: #f9f9f9;
  border: solid 1px #999;
  padding: 5px;
  margin: 3px;
  text-align: center;

}




.button{
  font-size: 10px;
}
.remove_deterioration a{
  font-size: 10px;
}
.remove_tool a{
  font-size: 10px;
}
#add_field a{
  font-size: 12px;
}

input[type="text"],select,input[type="checkbox"],input[type="password"]{
  border: solid 1px #ccc;
  line-height: 1.5em;
  border-radius: 5px;
}
#model_form {
  width: 90%;
  margin: auto;
  border: solid 5px #666;
  border-radius: 10px;
  padding: 10px;
}
#model_form textarea{
  margin: 15px;
  width: 95%;
  border: solid 1px #999;
  border-radius: 5px;
  max-height: 200px;
  padding: 3px;
}
#model_form input{
  margin: 15px;
  padding: 3px;
  border: solid 1px #999;
}
#model_form label{
  margin-left: 20px;
}
#model_form #cancel_link{
  color: #666;
  font-size: 12px;
  margin: 0 10px;
  font-weight: bold;
}


}
#deterioration{
  margin: 10px;
  border: solid #999 2px;
  border-radius: 5px;
  padding: 5px;
}
#deterioration #tasks h2{
  color: #333;
  padding: 3px;
  text-align:center;
  margin: -5px 0;
}
#table_tasks{
  border-collapse: collapse;
  width:100%;
  }
#tasks tr.task_row{
  line-height: 1.7em;
}
#tasks .table_header{
  color: #fff;
  font-weight: bold;
  border: solid 1px #26456D;
  background: #26456D;
}
#tasks .table_title{
  margin: 10px 0px ;
  padding: 5px;
  }
#tasks .body_table{
  margin: 10px 5px;
  padding: 5px;
  }
#tasks .long{
  width: 130px;
  }


#tasks .short{
  text-align: center;
  width: 50px;
  }

#tasks .last{
  padding-right: 10px;
  }
#tasks .image{
  text-align: center;
  width: 20px;
  }
#tasks .buttons{
  width: 150px;
}
#tasks tr.task_row td.buttons a{
  color: #1d1d1d;
}

#tasks tr.task_row td.buttons span{
  margin: 0 3px;
  }
#tasks tr.task_row td.buttons{
    color: #1d1d1d;
    width: 150px;
    /*background:#f1f1f1; #1d1d1d;*/
    display:none; /*--Hides by default--*/
    /*position:absolute;
    z-index:1000;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}




/* help list report side panel */
li

