@media print {
  #header{
    display: none;
  }
  #footer{display: none;}
  #header_pdf {
    text-align: center;
    border-bottom: solid 1px #cccccc;
    padding-bottom: 10px;
  }
  div.category{
    width: 40%;
    float: left;
  }
  div.deterioration_header{
    font-size: 15px;
    margin: 5px
  }
  div.description{
      width: 97%;
      margin: 5px;
      background: #f1f1f1;
      padding: 5px;
      border: solid #ccc 1px;
      border-radius: 5px
  }
  div.place{
    width: 40%;
    float: left;
  }
  div.status{
    width: 10%;
    float: right;
  }


}
body {
  font-family: Ubuntu;
  font-size: 13px;
}

.clear{
  clear: both;
}
 hr{
  color: #666;
  width:96%;
 }

.flash{
  width: 30%;
  padding: 5px 0;
  margin: auto;
  font-size: 12px;
  text-align: center;
}

#flash_notice {
  background-color: #FAF8A0;
  border: solid 1px #F7F55C;
}
a {
  color: #36C;
  text-decoration: none;
  font-weight: bold;
}
a, a:active, a:focus {
  outline: 0 !important;
}
#login_form {
  border: solid 2px #ccc;
  padding: 10px;
  border-radius: 10px;
}
#login_form input[type="text"], #login_form input[type="password"], #login_form input[type="submit"]{
  border: solid 1px #ccc;
  padding: 5px;
  border-radius: 5px;
}
.close_flash{ color: #666;text-decoration:none;}

label.message{
  color: #D00;
  display:block;
  font-size: 12px;
  font-weight:bold;
}

.text_area {
  background: #f1f1f1;
  border: solid 1px #ccc;
  padding: 5px;
  min-height:50px;
  border-radius: 5px;
  width: 99%;
}
.tooltip{
    color: #fff;
    width: 150px;
    background:#1d1d1d;
    display:none; /*--Hides by default--*/
    position:absolute;
    z-index:1000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;

}
/* forms */

textarea, input[type="text"],input[type="password"] {
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	-webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  padding: 2px;
}

textarea:focus, input[type="text"]:focus,input[type="password"]:focus {
	border: 1px solid #fafafa;
	-webkit-box-shadow: 0px 0px 6px #007eff;
	-moz-box-shadow: 0px 0px 5px #007eff;
	box-shadow: 0px 0px 5px #007eff;

}
textarea{margin: 2px 0;}
select, input[type="search"]{
  text-shadow: 0px 1px 0px #fff;
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	-webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  padding: 2px;
}
select:focus{
  border: solid 1px #fafafa;
  outline: 3px auto #007eff;
}


input[type="submit"]{
  border-radius: 5px;
  background: #f1f1f1;
}

.fields textarea{
  margin: 10px;
  border: solid 1px #999;
  border-radius: 5px;
  max-height: 200px;
  padding: 3px;
  with: 70%;
}
.fields input{
  margin: 0;
  padding: 3px;
  border-radius: 3px;
  border: solid 1px #ccc;
}
.fields{
  padding: 5px 0;
  }
.left{float: left;}
.right{float:right}
.col_left{width:48%;margin-right:10px}
.col_right{width:49%;margin-right:10px}
.col_left_info{width:39%;margin-right:10px}
.col_right_info{width:39%;margin-right:10px}
.col_img{width:20%;}
.col_img img{padding:5px;}
.form {width: 80%;margin:auto; background: #fafafa; border: solid 1px #E4E4E4; padding: 15px; border-radius: 10px;color:#222}
#item_form .text_form textarea{ max-width: 99%;min-width: 99%;margin:10px auto;height:120px;padding: 5px;margin-top: 5px;}
#item_form label{float:left;width: 80px;font-weight:bold;margin-top:2px}
#item_form .item_type{padding:2px 5px;color:#3D9400;font-weight:bold;width: 60px}
#item_form h3{color: #3D9400}
#item_form .item_type_form{margin: 17px 0;}
#item_form .addicional_field{margin: 10px 0}
#item_form .addicional_field textarea{width:98%;padding: 5px;margin-top: 5px;}
#item_form .delete_message_option{margin: 5px 0}
#item_form .delete_message_option .can_delete_field{color:#666;font-size:11px;margin-top:-3px;display:block}
#item_form .delete_message_option .can_delete_field input{float:left;margin:2px 3px 0 -2px}
#item_form #submit_buttons {text-align:left}
#item_form #submit_buttons .separator {margin: 0 10px}
#item_form label.message{color: #DD4B39;width:150px;float:left;padding-left:85px}
#item_form .text_form label.message{color: #DD4B39;width:150px;float:left;margin-top:-5px;padding-left:0px !important}
#item_form p{margin: 20px 0}
#report_form{padding: 20px;}
#report_form label{color: #333;float:left;width: 100px;font-weight:bold;}
#report_form .text_form textarea{ max-width: 99%;min-width: 99%;margin: 10px auto;height:120px}
#report_form #add_field{margin:10px 0}
#report_form #dates{float:left;margin-top:-2px;color:#222}

#task_form{padding: 20px;}
#task_form label{color: #333;float:left;width: 100px;font-weight:bold;margin-top:2px}
#task_form .text_form textarea{ max-width: 99%;min-width: 99%;margin: 10px auto;height:120px}
#task_form #add_field{margin:10px 0}
#task_form label.message{color: #DD4B39; display:block;margin-top:-10px;width:150px}
#task_form h3{color: #3D9400}

#event_form .text_form textarea{ max-width: 99%;min-width: 99%;margin:10px auto;height:120px;padding: 5px;margin-top: 5px;}
#event_form label{float:left;width: 80px;font-weight:bold;margin-top:2px}
#event_form .item_type{padding:2px 5px;color:#3D9400;font-weight:bold;width: 60px}
#event_form h3{color: #3D9400}

#collection_form .text_form textarea{ max-width: 99%;min-width: 99%;margin:10px auto;height:120px;padding: 5px;margin-top: 5px;}
#collection_form label{float:left;width: 80px;font-weight:bold;margin-top:2px}
#collection_form .item_type{padding:2px 5px;color:#3D9400;font-weight:bold;width: 60px}
#collection_form h3{color: #3D9400}

#user_form label{float:left;width: 100px;font-weight:bold;margin-top:2px}
#user_form h3{color: #3D9400}
/* forms */
/* header */
#header{
  margin: 10px;
  padding: 10px;
}
#header #logo_img {
  float: left;
}
#header #menu_bar {
  float: right;
  margin-top: 25px;
}
#header #menu_bar ul{
  list-style:none;
  display:inline;
  margin-right: 10px;
  padding: 0;
}
#header #menu_bar ul li{
  float: left;
  margin:0px;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px transparent;
  padding: 3px 8px;
  background: #f1f1f1;
}
#header #menu_bar ul li:hover{
  padding: 3px 8px;
  border: solid #666 1px;
}
#header #menu_bar ul li:last-child:hover{
  border-right: #666 solid 1px;
  padding: 3px 8px;
}
#header #menu_bar ul li:last-child{
  border-right: solid 1px #ccc;
  padding: 3px 8px;
}
#header #menu_bar ul li a{
  color: #666;
  padding: 5px;
  text-decoration: none;
}
#header #sub_header{
  margin: 10px;
}
#header #sub_header #title {
  font-size: 25px;
  font-weight: bold;
  color: #222;
  float: left;
}
#header #sub_header #title a{
  color: #222;
  text-decoration: none;
}
#header #sub_header #user_menu {
  font-weight: bold;
  color: #222;
  float: right;
  position:relative;
}
#header #sub_header #user_menu a{
  color: #36C;
  font-weight: bold;
}
#header #sub_header #user_menu  #user_sub_menu{
  font-size: 11px;
  text-align: right;
}
/* header */

#content {
  margin: 10px;
  padding: 10px;
  min-height: 460px;
}
/* common styles */
.button{
  float: left;
  margin-left: 5px;
  text-align: center;
  background: #f1f1f1;
  padding: 3px 10px;
  border: solid #ccc 1px;
  border-radius: 5px;
}
.button:hover {
  border: solid #DD4B39 1px;
  border-radius: 5px;
  cursor: pointer;
  background: #DD4B39;

}
.button:hover a{
  color: #fff;
  text-decoration: none;
}
.button a{
  color: #666;
  text-decoration: none;
}

.pagination {
}
.pagination .current{
  color: #666;
}
.pagination .page a{
  text-decoration: none;
  text-align:center;
}
.pagination .next a, .prev a, .first a, .last a {
  text-decoration: none;
}
li.help_list:hover {
  border: solid #ccc 1px;
  background: #f1f1f1;
  color: #333;
  padding: 2px
}
li.help_list:hover  a{
  color: #666;
}
a.help{
  color: #666;
}
li.help_list{#FCFBB6
  margin: 6px 0;
  padding: 3px
}

/* events */

#event{
  width: 80%;
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}
#event .label{float:left; width: 100px;}
/* events */
/*items */
#section_header {
  padding: 0 10px;
}
#section_header #items_search{
  float: left;
}
#section_header #items_filter{
  float: left;
  margin-left: 20px;
}
.sub_menu{margin:10px 0}
.result, .pages {
  width:40%;
}
.destacados{text-align: right;width:15%;}

#section_header #section_nav{
  float: right;
}
#item_flags{
  width: 15%;
  margin: 0;
  cursor: pointer;
}
#item_flags img{

  float: left;
}

#items { margin: 10px; width: 99%; }
#items  table{width: 100%;border-collapse: collapse;}
#items  table th{ text-align: left;background: #26456D; color: #fff; padding: 5px;}
#items  table tr{ line-height: 1.5em; border-bottom: 1px solid #ccc;}
#items  table tr td{ padding: 5px;}

#item    {padding:15px;border: solid #ccc 1px; border-radius: 10px;width:90%;margin:20px auto}
#item  h3 {color:#3D9400}
#item .item_info {margin: 10px 0;padding: 3px 5px}
#item .item_info .title {width: 100px;float:left;font-weight:bold}
#item .item_info:hover  {background: #FCFBB6;padding: 3px 5px}
#item a {color:#36C}
#item .item_report{margin: 5px}
#item ol{margin-left:20px;padding:0}

/* items */
/* reports */
#report .side_title{font-weight:bold;color:#3D9400}
#reports              { width: 99%;margin: 20px 10px; }
#reports  table       { width: 100%;border-collapse: collapse; }
#reports  table th    { text-align: left;background: #26456D; color: #fff; padding: 5px; }
#reports  table tr    { line-height: 1.5em; border-bottom: 1px solid #ccc; }
#reports  table tr td { padding: 5px; }
#report_side_panel{
  width:15%;
  float:left;
  padding: 5px 10px;
  border-right: solid 1px #ccc;
  margin: 0 10px 0 0;
  font-size:12px
}
#deteriorations  table       { width: 100%;border-collapse: collapse; border: solid #ccc 1px; }
#deteriorations  table tr th { line-height: 1.5em; text-align: left;background: #26456D; color: #fff; padding: 5px; }
#deteriorations  table tr    { line-height: 2em;border-bottom: 1px solid #ccc; }
#deteriorations  table tr td { padding: 5px; }
#deteriorations  table tr td.status { padding: 5px; width:8%; text-align: center; }
#deteriorations  table tr td.categoy { padding: 5px; width: 12% }
#deteriorations  table tr td.place { padding: 5px; width: 20% }
#deteriorations  table tr td.description { padding: 5px; width: 45% }
#deteriorations  table tr td.tasks { padding: 5px; width: 10%; }
#deteriorations  table tr td.tasks a{ color: #666;text-decoration:none;font-weight:bold; padding-left: 15px; }
#deteriorations  table tr td.actions { padding: 5px; width: 5% }

#report_user_info{ float:left;margin: 10px 0}
#report_links{ float:right;margin: 10px}
.report_gallery{margin: 5px 0}
.report_gallery_list{list-style:none;margin:0;padding: 0}
.report_photo{ float:left;margin:5px 5px 5px 0;padding:5px}
/* reports */
/* galleries */
#gallery{width: 80%;margin:auto;border: solid 1px #ccc;padding: 10px;border-radius: 10px}
#gallery h2{color:#3D9400}
#galleries { margin: 20px 10px; width: 99%; }
#galleries table { width: 100%;border-collapse: collapse;}
#galleries table th{ text-align: left;background: #26456D ; padding: 5px;color: #fff;border-collapse: collapse;}
#galleries table tr{ line-height: 1.5em; border-bottom: 1px solid #ccc;}
#galleries table tr td{ padding: 5px;}
#galleries table tr td.belongs_to{ padding: 5px; width: 10%}
#galleries table tr td.description{ padding: 5px; width: 70%}
#galleries table tr td.actions{ padding: 5px; width: 10%}
#gallery #table_photos table {border-collapse: collapse;}
#gallery #table_photos  table th { text-align: left;background: #26456D ; padding: 5px;color: #fff;}
#gallery #table_photos  table tr td { padding: 5px; }
#gallery #table_photos  table tr td.image { padding: 5px; width:8%; text-align: center; }
#gallery #table_photos  table tr td.description { padding: 5px; width: 12% }
#gallery #table_photos  table tr td.date { padding: 5px; width: 40% }
#gallery #table_photos  table tr td.size { padding: 5px; width: 10%;text-align: center }
#gallery #table_photos  table tr td.delete { padding: 5px; width: 10%;text-align: center }
#gallery #table_photos  table tr:hover{background: #FCFBB6}
#gallery .check_uncheck{float:left;font-size:11px;color:#666;margin-top:15px;}
.thumbs {
  list-style:none;
  padding: 5px;
  }
.thumbs li{
  margin: 2px;
  }
.caption {
  background: #ccc;
  color: #222;
  font-weight: bold;
  width: 594px !important;
  margin-top: -4px;
  padding: 3px;
  text-align: left;
}
.compare select, input[type="submit"]{
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #f1f1f1;
}
/* galleries */
#footer {
  font-size: 11px;
  color: #666;
  text-align: center;
}
/* galleries */
/* observations */

#report_observation_form{
  float:right;
  width:40%;
  background: #f1f1f1;
  border-radius: 10px;
  padding: 10px
}
#report_observation_form h2{color:#3D9400;}
#new_observation_form{
  float:left;
  margin-top: 0px;
  font-size: 12px;
}
#new_observation_form a{
  color: #DD4B39
}
#observations{
  padding: 10px;
  width:55%;
  float:left;
  margin: auto;
}
#observations h2{color:#3D9400;margin-left:10px}
#observations .observation{
  width:95%;
  margin: 5px auto;
  padding-bottom: 10px;
  border-bottom: #ccc 1px dotted;
}
#observations .observation .observation_header{
}

#observations .observation .observation_body{
  background: #f1f1f1;
  border: solid 1px #ccc;
  padding: 5px;
}

#observations .observation .observation_footer{
  font-size:11px;
  margin-bottom:10x;
}
#observations .observation .observation_footer a{
  color: #DD4B39
}
/* observations */
/* tasks */
#tasks              { width: 99%;margin: 20px 10px; }
#tasks  table       { width: 100%;border-collapse: collapse; }
#tasks  table th    { text-align: left;background: #26456D; color: #fff; padding: 5px; }
#tasks  table tr    { line-height: 1.5em; border-bottom: 1px solid #ccc; }
#tasks  table tr td { padding: 5px; }

#tools              { width: 99%;margin: 20px 10px; }
#tools  table       { width: 100%;border-collapse: collapse; }
#tools  table th    { text-align: left;background: #26456D; color: #fff; padding: 5px; }
#tools  table tr    { line-height: 1.5em; border-bottom: 1px solid #ccc; }
#tools  table tr td { padding: 5px; }
/* tasks */
/*collections */
#collections              { width: 99%;margin: 20px 10px; }
#collections  table       { width: 100%;border-collapse: collapse; }
#collections  table th    { text-align: left;background: #26456D; color: #fff; padding: 5px; }
#collections  table tr    { line-height: 1.5em; border-bottom: 1px solid #ccc; }
#collections  table tr td { padding: 5px; }

#collection_show{
  width: 80%;
  margin: auto;
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 10px;
}
#collection_show h2{
  color:#3D9400;
}
#collection_item_panel{
  width: 46%;
  min-height: 180px;
  border: solid 1px #ccc;
  padding: 15px;
  border-radius: 5px;
}
#collection_item_panel h3 {color:#3D9400;margin-left: 5px}
.panel_item_photo{width: 20%; padding: 5px}
.panel_item{width: 74%; padding: 5px; margin-left: 5px}

#items_collection{
  width: 50%;
}

.item_collection{
  float: left;
  border: solid 1px #ccc;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  width: 45%;
  min-height: 90px;
}
#collection .item_info        {margin: 10px 0;padding: 3px 5px}
#collection .item_info .title {width: 80px;float:left;font-weight:bold}
#collection .item_info p      {margin: 10px 0;padding: 3px}
/* collections */
/*admin */
#admin_index {
  width: 80%;
  margin: auto;
}
ul.conf_list{
  text-align:center;
  display: inline;
  list-style: none;

}
ul.conf_list li{
  float: left;
  margin: 30px 10px;
  width: 30%;
  border: solid 2px #999;
  color: #666;
  border-radius: 6px;
}
ul.conf_list li a.conf_option{
  color: #666;
  padding: 15px;
  margin: 10px;

}
ul.conf_list li:hover a.conf_option{
  color: #fff;
  background: #666;
  border: solid 2px #666;
  border-radius: 6px;
}
ul.conf_list li .conf_explanation{
  display:none;
}
ul.conf_list li:hover .conf_explanation{
  display: block;
  color: #666;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  margin: 10px auto;
}
/* admin*/
/* alerts */
#alert_index{
  width: 90%;
  margin: auto;

}
.alert{
margin: 10px 0;
}
ul#alerts {
  list-style:none;
}
#custom_alert_error{
  margin:  0;
  color: #D00;
  font-size: 12px;
  font-weight: bold;
}
#alert_form{
  float: right;
  margin:auto;
  background: #fafafa;
  border: solid 1px #e4e4e4;
  padding: 30px;
  border-radius: 10px;
}
#parent_info{
  float: left;
  width: 50%;
  margin:auto;
}
.alert .custom:hover, .alert .frequency:hover, .alert .message:hover, .alert .day:hover{
  cursor: pointer;
}
#form_buttons{
  float: right;
}
/* alerts */

/* deeterioration */
#deterioration{
  width: 80%;
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

/* deeterioration */

/* tasks */
#task{
  width: 80%;
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}
/* tasks */
.with_vcard{
  position:relative;
  cursor:pointer;
}
.vcard-left{
  width: 255px;
  position:absolute;
  top:-15px;
  background: url(../images/vcard_bottom.png) 0 100% no-repeat;
  padding-bottom: 3px;
  z-index: 999999;
  float:left;
  right: 120px;
}
.vcard-right{
  width: 255px;
  position:absolute;
  top:-15px;
  background: url(../images/vcard_bottom.png) 0 100% no-repeat;
  padding-bottom: 3px;
  z-index: 999999;
  float:right;
  left: 80px;
}

.vcard-in-left{
  background: url(../images/vcard_left.png) no-repeat;
  padding: 10px;
  font-weight:normal;
}
.vcard-in-right{
  background: url(../images/vcard_right.png) no-repeat;
  padding: 10px 0px 10px 30px;
  font-weight:normal;
  margin-left:-10px;
}
.vcard-in-left .collection_desc, .vcard-in-right .collection_desc{ margin: 5px 0;width:200px;border-bottom:solid #ccc 1px;padding-bottom:8px;}
/* users */
.user_attr{
  margin: 20px 0;
  display: block;
}
.user_attr label.attributes{
  width: 80px;
  font-weight: bold;
  float: left;
  margin-right: 5px
}
.user_attr input{ display: block;}
.user_attr label.message{display: block;padding-left: 90px}
 #users{
   width: 80%;
   margin: auto;
 }
#users .user{
  width:29%;
  float:left;
  height: 100px;
  margin:10px;
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 5px;
}
#users .user .row{ margin: 5px 25px;}
#users .user .links{ font-size:11px;float:left}
#new_fields{width: 90%;margin:auto}
#new_fields_table{
  width: 70%;
  margin: 10px auto;
  float:left;
  margin:auto;
}
#new_fields_table table{width: 100%;border-collapse: collapse}
#new_fields_table table tr th{line-height: 1.5em; text-align: left;background: #26456D; color: #fff; padding: 5px;}
#new_fields_table table tr{ line-height: 1.7em;}
#new_fields_table table td{text-align:left;padding-left: 5px;}
#new_fields_table table td.link_delete, #new_fields table th.link_delete{width: 13%;text-align:center}
#new_fields_table table td.field_name, #new_fields_table table td.field_type{font-weight:bold}
#new_fields_table table td.field_name,#new_fields table th.field_name{text-align:left;width:60%;}
#new_fields_table table td.field_type,#new_fields table th.field_type{text-align:left;width:12%;}
#new_fields h2{color: #3D9400;margin-left:15px}
#new_fields_form{width: 30%;margin: 10px auto;float:left;margin:auto;}

#profile{width:80%;margin:auto;}
.profile{padding: 10px;border:solid 1px #ccc;border-radius: 10px;margin: 5px 0}
#profile_header{width:80%;margin:auto;}
#profile h2{color:#3d9400;margin-left: 5px}
#items_profile{margin:auto;width: 100%}
.user_item{border: solid 1px #ccc;padding: 10px; border-radius: 5px;float:left; margin: 5px;width: 45%}
.user_item_photo{width: 25%; padding: 5px;float:left}
.user_item_info{width: 60%; padding: 5px;margin-left: 5px;float:left;margin:auto}
.user_item_title{font-weight:bold}
.user_item_info table td.code{color:#DD4B39;}
.user_item_links{font-size:11px;float:left}
.close_info{padding-left: 20px}
.minus {background: url(/images/cross.png) 0 70% no-repeat}
.plus {background: url(/images/plus.png) 0 70% no-repeat;-webkit-transform: rotate(-45deg);}

