host_and_port: "conservar.local:3000"
domain: "conservar.example"
notification_mail: "notification mail"
mail_user: "user"
mail_pass: "pass"
mail_auth: "plain"
smtp_server: "smtp.example"
smtp_port: 587
currency: "$ (pesos argentinos)"
price_per_hour: "70"

