<% title "Alertas"%>
<script>
  $(function(){
    $('#cancel_link').click(function(){
      $('#new_alert')[0].reset();
      $('label.message').hide();
      $('#custom_alert_error').hide();
      $('#alert_custom').attr('disabled',true);
      $('#alert_frequency').attr('disabled',false);
     });
   $('.alert').live("mouseout",function(){
      $('.delete_link').click(function(){
        var id = $(this).attr('id');
        $('#alert_'+id).html("<div style='margin:10px 5px;min-height: 60px'><img src='/images/loading.gif'> eliminando...</div>");
      });
      $(".frequency").editInPlace({
        url: '/alerts/update_in_place',
        saving_image: '/images/loading.gif',
        params: 'field=frequency',
        field_type: "select",
    		select_options: [['Diario','1'],['Semanal','7'],['Quincenal','15'],['Mensual','30']]
      }),

      $(".custom").editInPlace({
        url: '/alerts/update_in_place',
        saving_image: '/images/loading.gif',
        params: 'field=custom'
      });
      $(".message").editInPlace({
        url: '/alerts/update_in_place',
        saving_image: '/images/loading.gif',
        params: 'field=message',
        field_type: "textarea",
    		textarea_rows: "3",
      	textarea_cols: "59",
      	bg_out: '#f1f1f1'
      });
    });
    $('#custom_option').change(function(){
      if ($(this).attr('checked') == 'checked'){
        $('#alert_custom').attr('disabled',false);
        $('#alert_frequency').attr('disabled',true);
      }
      else{
        $('#alert_custom').attr('disabled',true);
        $('#alert_frequency').attr('disabled',false);
      }
    });

    $('#alert_frequency').change(function(){
      if ($('#alert_custom').val() != ' '){
        $('#custom_alert_error').hide();
      }
      else{
        $('#custom_alert_error').show();
      }
    });
    $('#alert_custom').blur(function(){
      if ($('#alert_custom').val() != ' '){
        $('#custom_alert_error').hide();
      }
      else{
        $('#custom_alert_error').show();
      }
    });

  });
</script>
<div id="alert_index">
  <%= render 'alerts/form' %>
  <div id="parent_info">
    <ol id="alerts">
      <small> Podes editar el mensaje o la frecuencia aca mismo</small>
      <% @parent.alerts.each do |alert| %>
        <%= render :partial => "alert", :locals => {:alert =>  alert } %>
      <% end %>
    </ol>
  </div>
<div id="loading" style="text-align:center;display:none;z-index:99999;position:absolute;border: solid 1px #666;padding:10px;background: #fff;width:15%;top: 40%;left: 40%;"><%= image_tag('loading2.gif')%><div><small> eliminando...</small></div></div>

