<div id="report_observation_form">
  <h2> Nueva Observacion </h2>
  <div>
    <%= render 'observations/form' %>
  </div>
  <div class="clear"></div>
</div>
<div id="observations">
  <h2> Observaciones </h2>
  <% @report.observations.each do |observation| %>
    <%= render :partial => "observations/observation", :locals => {:observation => observation } %>
  <% end %>
</div>
<div class="clear"></div>

