<% title "Galerias de Fotos" %>
<div id="section_header">
  <div class="pages left">
    <%= paginate @galleries, :remote => true %>
  </div>
  <div class="result left">
    <%= page_entries_info(@galleries) %>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<div id="galleries">
  <%= render :partial => "galleries" %>
</div>

