<% title "Usuarios" %>
<div id="users">
  <div class="right" style="margin-right:10px">
    <div class="button link_new" class="left"><%= link_to 'Nuevo Usuario', new_admin_user_path  %></div>
    <div class="button link_new"><%= link_to 'Volver', admin_path  %></div>
  </div>
  <div class="clear"></div>
  <% @users.each do |user| %>
    <div class="user" id="user_<%= user.id %>">
      <%= render user %>
    </div>
  <% end %>
</div>

