<div class="fields">
  <%= f.text_field :category,:size => 15 %>
  <%= f.text_field :place,:size => 25 %>
  <%= f.text_field :description,:size => 50, :class => "last" %>
  <span class="remove_deterioration">
    <%= remove_child_link "remove", f %>
  </span>
</div>

