<div class="fields">
  <%= f.select :det_category_id, DetCategory.actives.collect{|c| [c.name,c.id]} %>
  <%= f.text_field :place,:size => 25 %>
  <%= f.text_field :description,:size => 65, :class => "last" %>
  <span class="button without_text delete">
    <%= remove_child_link "remove", f %>
  </span>
</div>

